.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    margin-top: -24%;
    left: 40%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.center .btn{
    font-size: 14px !important;
    margin-top: 40px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
} 
.card-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-top: 20px;
    font-size: xx-large;
}