<div class="mainbody">
    <!-- <div class="container"> -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <!-- <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
          
            </div> -->
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                
                    <button type="button" data-bs-target="#carouselExampleDark"   data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark"   data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark"   data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark"  data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleDark"   data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                  <img src="../../assets/mask2.jpg" class="d-block w-100 " height="600px"  alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <!-- <h4 style="color: wheat;"></h4>
                    <p style="color:red;"></p> -->
                    <!-- <button style="background-color:wheat;width:200px;height:60px ;font-size: 19px;">+shop</button> -->
          
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="../../assets/burning-candles.jpg" class="d-block w-100" height="600px" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <!-- <h4 >40-70%Off</h4>
                    <p >Sale Is Live</p> -->
          
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="../../assets/chips2.jpg" class="d-block w-100" height="600px"  alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <!-- <h4 style="font-size: 120px;color: red;" >Min.</h4>
                    <p style="color:wheat;font-size: 100px;">20% Off</p> -->
                    <!-- <button style="background-color:red;width:200px;height:60px ;font-size: 19px;">+shop</button> -->
          
                  </div>
                </div>
          
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="../../assets/bag2.jpg" class="d-block w-100" height="600px" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <!-- <h4 style="color: #ff424d;">Global Brands</h4>
                    <p style="color:white">MIN.30% OFF</p> -->
          
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="../../assets/pickles.jpg" class="d-block w-100"  height="600px" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <!-- <h4 style="color:rgb(65, 143, 192);font-size: 60px;">Top Brands</h4>
                    <p style="font-size: 100px;">Min. 40% off</p> -->
          
          
                  </div>
                </div>
          
          
            </div>
          
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    <!-- </div>   -->
</div>
<app-category></app-category>

<app-shop></app-shop>
<app-footer></app-footer>

