 <div class="container">
    <div class="mainbody">
        <h1>How do i place an order?</h1>
        <h3>Easy steps to place an order.</h3>
        <ol>
            <li> Select the product by clicking on it..</li>
            <li> Fill the required fields and then click Add to Cart.</li>
            <li>Click on Place order option and than click continue.</li>
            <li>Fill address details and click submit below.</li>
            <li>It will show amount to pay than click submit. which will lead to payment page.</li>
            <li>Payment page of Payumoney will open which will gove various options to pay like phonepe,paytm googlepay cards and netbanking etc.</li>
        </ol>
    </div>
</div>
