<app-header></app-header>
<body>  
<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Login</h3>
                
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm" >
                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                    <input type="text" name="username" class="form-control"  placeholder="Username" formControlName="username" ><br><br>

                    <div *ngIf="(this.loginForm.get('username')?.touched||this.loginForm.get('username')?.dirty)&&this.loginForm.get('username')?.errors" style="color: red;"> Invalid</div>


                      
                  </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="password" formControlName="password"><br>
                        <div *ngIf="(this.loginForm.get('password')?.touched||this.loginForm.get('password')?.dirty)&&this.loginForm.get('password')?.errors" style="color: red;"> Invalid</div>


                    </div>
                    
                    <div class="form-group">
                      <input type="submit" value="login" class="btn float-right login_btn" style="width:50%" (click)="login()">
                    </div>
                </form>
            </div>
            <p style="color:white;align-items:baseline;">Don't have an account? <a routerLink="/register">signup</a></p>
        </div>
    </div>
</div>
</body>
<app-footer></app-footer>

