<div class="container">
    <div class="mainbody">
        <div class="header">
            <h1>Privacy Policy</h1>
        </div>
        <div class="header1">
            <h3>Collection of Informations</h3>
        </div>
        <div class="body">
            <h4>Information you Provide us. </h4>
            <p>We collect information you provide directly to us, such as when you create or modify your account, request on-demand services, contact customer support, or otherwise communicate with us. This information may include: name, email, phone number, postal address, profile picture, payment method, items requested (for delivery services), delivery notes, and other information you choose to provide.</p>
        </div>
    </div>
</div>
