<div class="container">
    <div *ngFor="let item of viewData">
        <div class="image">
        <img src="{{item.image}}" >
        </div>
        <div class="cont">
        <h1>{{item.name}}</h1>
        <h5>{{item.description}}</h5>
        <h5>Price:{{item.price}}</h5>
       
    <!-- <img src="../../assets/" alt=""> -->
       </div>
      <!-- <button id="btn1" class="btn btn-primary" (click)="cart()">Add to Cart</button> -->
      <button routerLink="/shop" id="btn2" class="btn btn-primary">Back</button>
       

    </div>
</div> 
