<!-- <h1>My WishList</h1>

<div class="container">
    <div *ngIf="product">
        <div class="image">
            <img src="{{product.image}}" alt="">
        </div>
        <div class="cont">
            <h1>{{product.name}}</h1>
            <h5>{{product.description}}</h5>
            <h5>{{product.price}}</h5>

        </div>
        <button (click)="cart()">Add to cart</button>

    </div>
</div> -->
<app-header></app-header>
<ng-container *ngIf="product.length != 0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Action</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of product; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td style="width: 20%;"><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 12%;">{{item.description}}</td>
                            <td style="width: 12%;">{{item.price}}</td>
                            <table>
                                <button (click)="removeWishListItem(item)" class="btn btn-dange"><i class="fas fa-trash-alt"></i></button>
                            </table>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button class="btn btn-primary">Add to cart</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="product.length == 0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Wishlist</h5>
        </div>
        <div class="center">
            <img src="" alt="">
            <h4>Your Wishlist is Empty</h4>
            <h6>Add items to Your Wishlist</h6>
            <button routerLink="/shop" class="btn btn-primary">Shop now</button>
        </div>
    </div>
</ng-container>
<app-footer></app-footer>