<div class="container">
    <div class="main-body">
        <div>
            <h1><b>Return Policy</b></h1>
        </div>
        <div>
            <p>Cakes believes in helping its customers as far as possible and has therefore have liberal cancellation policy.</p>
        </div>
        <div class="txt1">
            <h3><b>How do I cancel an order on Esakhi.com?</b></h3>
            <p>-If Customer wishes to cancel his/her order with prior notice  of 24 hrs from date of delivery we may consider it If the order has not been prepared or is not out for delivery, we will try to modify/cancel the order for you..Cancellation takes 4-5 working days time Cancellation shall be initiated after formal order cancellation request is received at Esakhi.com</p>
            <p>Discounted orders are exempted from refund.</p>
            <p>Delivery Charges for all locations locations are non refundable.</p>
            <p>Order processing fees in international orders are non refundable.</p>
            <p>Any extra amount credited to rosencakes.com account may be considered for order enhancement but will not be refundable.</p>
            <p>Addons products are exempted from Refunds.</p>
            <p>The refund amount in no circumstances can exceed the amount paid by customer, we are not liable for any loss or claim beyond the amount actually paid by customer.</p>
            <p>If the order has been confirmed, you may be charged to cancel the order.</p>
            <p>- In case of Cancellation for any reason, 50% charge will be applicable in regular days or 60% on occasional days like Valentine , Mother's Day , Rakhi , Diwali etc...</p>
            <p>- Any discounted or exempted amount can not be claimed for refund.</p>
        </div>
        <div class="txt2">
            <h3><b>For outright cancellations By You :</b></h3>
            <p>- If order is cancelled before product has shipped, we will issue a CREDIT VOCHER of paid amount issued valid for 1 year</p>
        </div>
        <div class="txt3">
            <h3><b>coupons are valid till one year from date of issue.</b></h3>
            <p>If the cancellation is after your product has shipped:</p>
            <p>- If you received the product, it will be eligible for replacement, only in cases where there are defects found with the product.</p>
        </div>
        <div class="txt4">
            <h3><b>Refund Policy:</b></h3>
            <p>Refunds will be made in the same form of credit voucher only. coupons are valid till one year from date of issue.</p>
            <p>In all matters concerning Cancellation and refund RosenCakes shall have the deciding hand.</p>
        </div>
        <div class="txt5">
            <h3><b>Return Policy</b></h3>
            <p>In case of complaints regarding products that come with a warranty from manufacturers, please refer the issue to the concerned manufacturer. Let us know & we’ll help you regarding the same</p>
            <p>f you think, you have received the product in a bad condition or if the packaging is tampered with or damaged before delivery, please refuse to accept the package and return the package to the delivery person. Also, please call our customer care at +91999062888 or email us at rosencakes@gmail.com mentioning your Order ID. We will personally ensure that a brand new replacement is issued to you with no additional cost. Please make sure that the original product tag and packing is intact when you send us the product back.</p>
            <p>Apart from condition reserved herein above, the following products shall not be eligible for return or replacement, viz:</p>
            <p>- Any product that exhibits physical damage to the box or to the product;</p>
            <p>- Any product that is returned without all original packaging and accessories, including the retail box, manuals, cables, and all other items originally included with the product at the time of delivery;</p>
            <p>- Any product without a valid, readable, untampered serial number, including but not limited to products with missing, damaged, altered, or otherwise unreadable serial number;</p>
            <p>- Any product from which the UPC (Universal Product Code) has been removed from its original packaging.</p>

        </div>
    </div>
</div>

