nav{
    background-color:rgb(220, 230, 219);
}

.main{
    margin-left: 100px;
    margin-top: -50px;
}

li {
    display: inline-block;
    padding-left: 20px; 
    cursor: pointer;  
}
li #signup{
    color: black;
    text-decoration: none;
}
li #login{
    color: black;
    text-decoration: none;
}

nav h3{
    
    color:rgb(8, 8, 8);
    padding-left: 30px;
    padding-top: 30px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;

}
/* nav h3:hover{
    transform: scale(1.25);
    transition: 0.5s;   
} */

nav h5 {
    color:rgb(8, 8, 8);
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    cursor: pointer;

}
.txt{
    width: 250px;
}
.right{
    margin-left: 300px;
}
.dropdown{
    
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;

}
.dropdown-menu{
    background-color: rgb(220, 230, 219);
}

.dropdown-toggle{
    color:rgb(10, 9, 9);
    text-decoration: none;
    margin-top: 20px;
    

}
.dropdown-item{
    color:rgb(14, 13, 13);
    margin-right: 10px;
    font-size: x-large;
    display: list-item;
    text-decoration: none;
    cursor: pointer;


}
#proimg{
    margin-top: 1%;
}
#btn1:hover{
    transform: scale(1.025);
    transition: 0.5s;
}
.main img:hover{
    transform: scale(1.25);
    transition: 0.5s;   
}




