<nav>
    <div >
        <div class="row">
            <div>
                <h3>E-Sakhi</h3>
                <ul class="main">
                    <li>
                        <a routerLink="">
                            <img id="homeimg" src="../../assets/home.png" width="32" height="35" alt="">
                        </a>
                        
                    </li>
                    <li>
                        <div class="dropdown" ngbDropdown>
                            <a>
                                <img  src="../../assets/user (1).png" id="proimg" ngbDropdownToggle class="dropdown-toggle " width="32" height="32" alt="">
                            </a>
                            <div ngbDropdownMenu class="dropdown-menu" >
                                <a ngbDropdownItem href="#" class="dropdown-item" routerLink="/myprofile">My Profile</a>
                                <a ngbDropdownItem href="#" class="dropdown-item">Orders</a>
                                <a ngbDropdownItem href="#" class="dropdown-item"> <i class="fas fa-sign-out-alt"></i>LogOut</a>
                              </div> 
                        </div>

                       
                    </li>
                    <li>
                            <a routerLink="/wishlist">
                                <img src="../../assets/heart.png" width="32" height="32" alt="">
                            </a>   
                    </li>
                    <li>
                        <div  class="dropdown" ngbDropdown>
                            <a href="#" ngbDropdownToggle class="dropdown-toggle " >CATEGORIES</a>
                            <div ngbDropdownMenu class="dropdown-menu" >
                              <a ngbDropdownItem href="#" class="dropdown-item">Food</a>
                              <a ngbDropdownItem href="#" class="dropdown-item">Grocery</a>
                              <a ngbDropdownItem href="#" class="dropdown-item">Household Items</a>
                              <a ngbDropdownItem  class="drop-down-item">Health</a>
                            </div> 
                    
                        </div>
                    </li>
                    <li>
                        <a><img src="../../assets/shopping-cart1.png" width="32" height="32" alt=""></a>  
                    </li>
                    <li class="right">
                        <form >
                            <div >
                                <input type="text" class="txt" placeholder="search for the products ">
                                <button id="btn1"><img src="../../assets/magnifying-glass.png" width="20" height="18"></button>
                            </div>
                              
                        </form>
                    </li>
                    <li >
                        <h5><a id="signup" routerLink="/register">Signup</a></h5>
                    </li>
                    <li >
                        <h5><a id="login" routerLink="/login">Login</a></h5>
                    </li>
                </ul>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</nav>

