<!-- <div class="container"> -->
    <div class="mainbody">
        <div class="row">
            <div class="leftbody col-md-6">
                <div class="card">
                    <div class="cardbody">
                        <h1>Hello !</h1>
                        <h2>We're E-Sakhi a great place for people who look's for good quality products</h2>
                        <h5>We're a young start-up that work for your needs in good quality products and well-being. We deliver everything at honest prices.</h5>
                    </div>
                </div>

                <div class="card crd2">
                    <div class="cardbody">
                        <h2>Good health delivered to your doorstep, every time .</h2>
                        <h6>You no longer have to hunt for  ton of  stores to find the products you need. We have most of hand made products on our site. All just to make sure you get good quality products.</h6>
                    </div>
                </div>    
            </div>
            <div class="rightbody col-md-6">
                <div class="card crd1" >
                    <div class="cardbody">
                        <div class="system">
                            <img id="monitor" src="../../assets/monitor.png" alt="">
                        </div>
                        <div>
                            <ul class="system-data">
                                <li id="card"><img src="../../assets/credit-card.png" height="70" width="70" alt=""></li>
                                <li id="package"><img src="../../assets/package.png" height="70" width="70" alt=""></li>
                                <li id="van"><img src="../../assets/delivery.png" height="70" width="70" alt=""></li>
                                <li id="smile"><img src="../../assets/smile.png" height="70" width="70"  alt=""></li>
                            </ul>
                            <ul class="system-data-txt">
                                <li id="pay">Easy payment</li>
                                <li id="pack">Secure Packaging</li>
                                <li id="del"> Fast Delivery</li>
                                <li id="policy">2 Days Return Policy</li>
                            </ul>
                        </div>

                    </div>
                    <div class="card crd3">
                        <div class="cardbody">
                            <h1>How it came together ?</h1>
                            <h4>We worked really hard to get here. We enjoy doing things fast, failing quickly and putting all that we learnt in our next idea. Our team has people from premier institutes around the world, but we're proud to say that we learnt most when we were on the job.</h4>
                            <h5>Some of the hard work we put together is right here.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
