<app-header></app-header>
<div class="container">
    <div class="mainbody">
        <div class="header">
            <h1>Terms & Conditions</h1>
        </div>
        <div class="body">
            <h3>Introduction</h3>
            <p>Esakhi.com is an online service owned, operated and managed by Bright Lifecare Private Limited ('HealthKart' or 'we' or 'us'). In using/accessing the website, you are deemed to have accepted the terms and conditions of the agreement listed below or as may be revised from time to time ('User Agreement'), which is, for an indefinite period and you understand and agree that you are bound by such terms till the time you access this Website. If you have any queries about the terms and conditions of this User Agreement or have any comments or complaints on or about the Website, please email us at care@healthkart.com or call us on 0124-4616444 . We reserve the right to change the terms and conditions of this User Agreement from time to time without any obligation to inform you and it is your responsibility to look through them as often as possible.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
