.category{
    display: flex;
    justify-content: space-between;
    margin-left: -8px;   
}

div a{
    font-weight: 600;
    text-align: center;
    color: black;
    margin: 10px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

div a img{
    width: 200px;
    height: 150px;
    margin-left: 5px;
    margin-right: 0px;
}