<app-dashboard></app-dashboard>
<div class="main">
    <div ><button class="btn btn-primary" routerLink="/dashboard">BACK</button></div>
    <div class="sub">
        <div class="card">
           <h4>Total Users</h4>
           <h6>50</h6>
        </div>
        <div class="card">
            <h4>Total Users</h4>
            <h6>50</h6>
         </div>
         <div class="card">
            <h4>Total Users</h4>
            <h6>50</h6>
         </div>
         <div class="card">
            <h4>Total Users</h4>
            <h6>50</h6>
         </div>
    </div>
</div>