<div class="footerbox">
    <div class="footer-block col-md-3">
        <div class="footer-block-heading">Contact-US</div>
        <div class="footer-block-data">
            <div class="col-md-3">
                <div class="row">
                    <div class="phone-data">
                        <ul>
                            <li id="phimg"><img src="../../assets/phone-call.png" width="15" height="15" alt=""></li>
                            <li id="phone">+919061857710</li>
                            <li id="phone1">+919061857710</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="email-data">
                    <ul>
                        <li id="emimg"><img src="../../assets/email.png" width="15" height="15" alt=""></li>
                        <li id="email">esakhi@gmail.com</li>
                        <li id="email1">esakhi@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
    <div class="footer-block col-md-3">
        <div class="footer-block-heading1">CUSTOMER SERVICE</div>
        <ul class="txt">
            <li><a routerLink="/aboutus">About Us</a></li>
            <!-- <li><a routerLink="/contact">Contact Us</a></li> -->
            <li><a routerLink="/returnpolicy">Return Policy</a></li>
            <!-- <li>Sitemap</li> -->
            <li><a routerLink="/placeorder">How do i place an order?</a></li>
        </ul>
    </div> 
    <div class="footer-block col-md-3">
        <div class="footer-block-heading1" >MY ACCOUNT</div>

            <ul class="txt">
                <li><a routerLink="/myprofile">My Account</a></li>
                <li><a routerLink="/orderhistory">Order History</a></li>
            </ul>
    </div>
    <div class="footer-block col-md-3">
        <div class="footer-block-heading1">INFORMATION</div>

        <ul class="txt">
            <li><a routerLink="/gallery">Gallery</a></li>
            <li><a routerLink="/shipdel">Shipping & Delivery Policy</a></li>
            <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
            <li><a routerLink="/termscondion">Terms & Conditions</a></li>
        </ul>
    </div>
    
    
</div>
