.footerbox{
    margin-top: 10px;
    display:flex;
    background-color:rgb(220, 230, 219);
    width: 100%;
    /* margin-top: 1opx; */
    cursor: pointer;
    /* font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium; */
}
.footer-block{
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-block-heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-left: 15%;
}
.footer-block-heading1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-left: 10%;
}

/* .footer-block-heading-data{
    display: flex;
} */
/* img{
    margin-top: 20px;
}
p{
    padding-left: 40px;
    padding-top: 10px;
} */
ul{
    list-style: none;
}
#phimg{
    margin-left: -127%;
    margin-top: 50%;
}
#phone{
    margin-left: 6%;
    margin-top: -195%;
}
#phone1{
    margin-left: 11%;
    margin-top: 4%;
}
#emimg{
    margin-left: -127%;
    margin-top: 71%;
}
#email{
    margin-left: 32%;
    margin-top: -195%;
}
#email1{
    margin-left: 30%;
}
.txt{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    margin-left: 10px;
    /* text-align: center; */
    /* padding-left: 10px; */

}
.txt a{
    color: black;
    text-decoration: none;
}
/* #phone,#phone1,#email,#email1 :hover{
    background-color: blue;
} */