<div *ngIf="cart && cart.items.length > 0" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items" class="list">
            <div class="row">
                <div class="image">
                    <img [src]="cartItem.product.image" alt="">
                </div>
                <div class="cont">
                    <h2>{{cartItem.product.name}}</h2>
                    <p>{{cartItem.product.description}}</p>
                    <h6>Price:{{cartItem.product.price}}</h6>
                    <label>Qty</label>&nbsp;&nbsp;&nbsp;
                    <select #quantitySelect name="" id="" (change)="changeQuantity(cartItem,quantitySelect.value)">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
                        <button class="remove"(click)="removeFromCart(cartItem)">Remove</button>
                </div>
                
            </div>
        </li>
    </ul>


</div>
<div class="order" id="sticky">
    <label for="">Total Item:{{cart.items.length}}</label><br><br>

    <label for="">Total Price:{{cart.totalPrice}}</label><br><br><br>

    <button class="placebtn" (click)="click()">Place Order</button>
</div>
