<div  id="printThis">
    <h6>From</h6>
    <p></p>

    <h6>To</h6>
    <p>{{username}}</p>
    <p>{{street1}}</p>
    <p>{{street2}}</p>
    <p>{{area1}}</p>
    <p>{{pincode}}</p>

</div>
<!-- <div>
    <h6>Invoice Date: {{date}}</h6>
</div>
<div><h6>Status: {{status}}</h6>
</div>

<table>
  <tr>
    
        <th>Sl No</th>
        <th>Item Name</th>
        <th>Item Quantity</th>
        <th>Item Price</th>
        <th>Total</th>
   
  </tr>
</table> -->

<!-- <div><button class="btn btn-primary" [elementToPrint]="printThis" ngPrint>PRINT</button></div> -->
